---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <h1>Agile Evolution. Not Revolution.</h1>
    <p>We're a small Agile consultancy based in Cardiff, UK. We help organisations to evolve their software development process.</p>
    <p><a class="btn btn-primary btn-lg" href="/about-us" role="button">Learn More &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Coaching</h2>
      <p>We provide expert coaching to help your organisation with its digital transformation.</p>
      <p><a class="btn btn-default" href="/services/agile-coaching" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Training</h2>
      <p>We run training and workshops to give your team the knowledge they need to succeed.</p>
      <p><a class="btn btn-default" href="/services/agile-training" role="button">View Details &raquo;</a></p>
    </div>
  </div>
</div>
