---
layout: page
---

<p class="lead">{{ page.lead }}</p>
{{ content }}
<h2>Who Should Attend?</h2>
<p>This workshop is designed predominantly for people working as a <strong>product owner</strong>, <strong>service</strong> owner or <strong>product manager</strong> alongside Agile development teams. However, working in this kind of role is <em>not</em> a prerequisite, and the workshop will be valuable to anyone working in agile software development.</p>
<h2>Frequently Asked Questions</h2>
<p>Here are some of our most frequently asked questions about our workshops:</p>
<div class="panel-group" id="faq-accordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faq-accordion" data-target="#question0">
             <p class="panel-title"><a href="#" class="ing">How many people can attend this workshop?</a></p>
        </div>
        <div id="question0" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <p>All of our workshops are designed for groups of 2-8 people.  If you're looking for more than 8 people to attend, we usually recommend splitting the group in half and running two or more separate sessions.</p>
                <p>If you're looking for a 1:1 session, please <a href="/contact-us">contact us</a> to arrange some private coaching.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faq-accordion" data-target="#question1">
             <p class="panel-title"><a href="#" class="ing">Do you run this workshop as a public class?</a></p>
        </div>
        <div id="question1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <p>Not at the moment, but please contact us if you're interested, and if we get enough demand from the same area, we'll arrange something.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faq-accordion" data-target="#question2">
             <p class="panel-title"><a href="#" class="ing">Do you provide copies of course materials, such as slides, handouts, etc?</a></p>
        </div>
        <div id="question2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <p>In order to reduce waste, we don't handout hard copies of course materials, but each attendee will be provided with a link to download everything they have used at the session.</p>
            </div>
        </div>
    </div>
</div>
<!--/panel-group-->
<button class="btn btn-primary">Book Now</button>
